<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <!-- <link rel="stylesheet" href="/static/css/correct-phase.css" /> -->
    <link rel="stylesheet" href="/static/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="bigest-container">
      <div class="container">
        <div class="z-cont">
          <div class="btn import-btn">Import Filter
            <input id="filterData" type="file" accept="application/json" hidden/>
          </div>
          <div class="controls">
            <div class="zeros-poles">
              <div class="zeros z-p active-mode">Zeros</div>
              <div class="poles z-p">Poles</div>
            </div>
          </div>
          <div class="z-container">
            <div class="test"></div>
            <div class="z-graph">
              <!-- <div class="circle-test"></div> -->
              <div class="x-axis"></div>
              <div class="y-axis"></div>
            </div>
          </div>
          <div class="btn export-btn">Export Filter</div>
        </div>
        <div class="z-figuers">
          <div class="fig filter" id="fig-mag"></div>
          <div class="fig phase" id="fig-phase"></div>
          <div class="btn phase-correct-btn">Correct Phase</div>
        </div>
      </div>
      <div class="sig-container">
        <div class="add-sig">
          <div class="import-sig">
            <div
              class="btn import-sig-title sig-mode active-sig-mode"
              id="generate-sig"
            >
              Generate Signal
            </div>
            <div class="btn import-sig-btn sig-mode" id="import-sig">
              Import Signal
            </div>
          </div>
          <div class="generate-sig">
            <div class="generate-sig-pad" id="generate-sig-pad"></div>
          </div>
          <form
            id="upload-form"
            class="upload-form hide-element"
            method="post"
            enctype="multipart/form-data"
          >
            <input type="file" id="file-upload" accept=".csv" name="file" />
          </form>
        </div>
        <div class="fig sig input-sig" id="input-sig"></div>
        <div class="fig sig output-sig" id="output-sig"></div>
      </div>
    </div>
    <div class="menu">
      <div class="convert option">Convert to pole</div>
      <div class="delete option">Delete</div>
    </div>
    <div class="correct-phase">
      <div class="cp-container">
        <div class="main-part">
          <div class="cp-phase-container">
            <div class="cp-title cp-original-phase-title" id="all-pass-title">All-pass Phase</div>
            <div class="cp-phase original-phase" id="preview-phase">
            </div>
          </div>
          <div class="cp-control">
              <form  id="a_form">
              <div class="cp-title">Insert Your a</div>
              <input type="text" id="a_input" required pattern="[+-]?(((\d+\.\d*|\d*\.\d+|\d+)[+-])?((\d+\.\d*|\d*\.\d+|\d+)j|j(\d+\.\d*|\d*\.\d+|\d+)|j)|(\d+\.\d*|\d*\.\d+|\d+)?e\^(\([+-]?|[+-]?\()((\d+\.\d*|\d*\.\d+|\d+)j|j(\d+\.\d*|\d*\.\d+|\d+)|j)\))|[+-]?([0-9]*[.])?[0-9]+">
              <div class="btns">
              <button class="btn" id="add_a"> Add </button>
              <button class="btn" id="preview_a"> Preview </button>
              </div>
            </form>
            <div class="all-pass-filters">
              <div class="apf-title">All Pass Filters</div>
              <div class="hr"></div>
              <div class="filters" id="filters">
              </div>
              <div class="delete-filter-btn">
                <i class="fa-solid fa-trash"></i>
              </div>
            </div>
          </div>
          <div class="cp-phase-container">
            <div class="cp-title cp-corrected-phase-title">Original Phase</div>
            <div class="cp-phase corrected-phase" id="original-phase">
            </div>
          </div>
        </div>
        <div class="lower-part">
          <div class="arrow l-arrow">
            <i class="fa-solid fa-angle-left"></i>
          </div>
          <div class="cat-container">
            <div class="catalog-img ex0">
              <img src="/static/catalog/3.png" alt="">
            </div>
            <div class="catalog-img ex1">
              <img src="/static/catalog/3.png" alt="">
            </div>
            <div class="catalog-img ex2">
              <img src="/static/catalog/3.png" alt="">
            </div>
            <div class="catalog-img ex3 selected-catalog-img">
              <img src="/static/catalog/4.png" alt="">
            </div>
            <div class="catalog-img ex4">
              <img src="/static/catalog/3.png" alt="">
            </div>
            <div class="catalog-img ex5">
              <img src="/static/catalog/3.png" alt="">
            </div>
            <div class="catalog-img ex6">
              <img src="/static/catalog/3.png" alt="">
            </div>
            <div class="catalog-img ex7">
              <img src="/static/catalog/3.png" alt="">
            </div>
            <div class="catalog-img ex8">
              <img src="/static/catalog/3.png" alt="">
            </div>
          </div>
          <div class="arrow r-arrow">
            <i class="fa-solid fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/11.5.0/math.min.js></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/js/correct-phase.js"></script>
  <script src="/static/js/all.min.js"></script>
  <script src="/static/js/signal-generation.js"></script>
  <script src="/static/js/filter-section.js"></script>
  <script src="/static/js/signals-section.js"></script>
</html>
